.button {
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0.4557291666666667vw;
    background-color: rgb(63, 63, 63);
    border-radius: 0.9765625vw;
    box-shadow: 0px 0px 2px black;
}

.svg-inline--fa {
    width: 30px;
    height: 30px;
}

h3 {
    color: white;
}


/* .singleGrade:hover .gradeGreaterInfo {
    visibility: visible;
    opacity: 100%;
} */

.inputek[type='checkbox'] {
    position: absolute;
    top: -9999px;
}

.labelaToJeKlasa {
    -webkit-appearance: push-button;
    -moz-appearance: button;
    display: inline-block;
    margin: 3.9vw 0 0.65vw 0;
    cursor: pointer;
    height: 6.51vw;
}