* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

html {
    background-image: url("img/honeycombbialy.svg"), linear-gradient( 130deg, rgba(96, 145, 233, 1) 0%, rgba(117, 180, 234, 1) 50%, rgba(187, 201, 229, 1) 100%);
    width: 100%;
    height: 100%;
}

@import url("http://fonts.cdnfonts.com/css/honey-script");
body {
    background-image: url("img/honeycombbialy.svg"), linear-gradient( 130deg, rgba(96, 145, 233, 1) 0%, rgba(117, 180, 234, 1) 50%, rgba(187, 201, 229, 1) 100%);
    justify-content: space-evenly;
    overflow-x: hidden;
    padding-top: 11vh;
    display: flex;
    flex-wrap: wrap;
}

:root {
    --darkerDiscordColor: rgb(41, 41, 41);
    --mainBackgroundColor: rgb(236, 236, 236);
    --weakerColor: rgb(225, 230, 249);
    --weakColor: rgb(195, 214, 237);
    --mediumColor: rgb(170, 200, 226);
    --strongerColor: rgb(54, 93, 128);
    --strongestColor: rgb(23, 49, 82);
}

header {
    width: 100%;
    height: 11.803713527851459vh;
    background-image: url("img/header.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    padding-left: 1vw;
}

header h1 {
    text-align: left;
    align-content: center;
    font-size: 3.5vw;
    font-weight: 400;
    font-family: "Honey Script", sans-serif;
}

.bombel {
    position: fixed;
    opacity: 70%;
    width: 19.5vw;
    height: 19.5vw;
}

.heksagon {
    position: fixed;
    opacity: 70%;
    width: 19.5vw;
    height: 19.5vw;
}

.gwiazdka {
    position: fixed;
    opacity: 70%;
    width: 19.5vw;
    height: 19.5vw;
}

.plaster {
    padding-left: 0.65vw;
    padding-right: 0.65vw;
    width: 3.2vw;
    height: 3.2vw;
}

.logowanie {
    background-color: rgb(96, 145, 233, 60%);
    max-width: 29%;
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    margin-top: 4.5vw;
    position: relative;
    margin-bottom: 1.3vw;
    padding: 2.5vw;
    padding-top: 1vw;
    border-radius: 1.3vw;
    border: white 0.06vw solid;
}

.logowanie h2 {
    font-family: Verdana, sans-serif;
    font-size: 1vw;
    font-weight: normal;
    color: #fff;
    text-align: center;
    display: block;
}

.logowanie div {
    margin-top: 0.78vw;
    padding-left: 1.3vw;
    padding-right: 1.3vw;
}

div {
    display: block;
}

.logowanie label {
    font-family: Verdana, sans-serif;
    font-size: 1.3vw;
    font-weight: normal;
    color: #fff;
    text-align: center;
    display: block;
}

.logowanie div input,
.logowanie div label {
    width: 19.5vw;
    text-align: left;
    border-radius: 0.65vw;
    font-size: 1.2vw;
}

.logowanieDiv {
    display: flex;
    justify-content: center;
}

.logowanie input[type="submit"] {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 1.5vw;
    font-style: normal;
    color: #fff;
    background: rgb(136, 105, 210);
    background: linear-gradient( 90deg, rgba(136, 105, 210, 1) 0%, rgba(132, 203, 234, 1) 100%);
    width: 19.5vw;
    padding-left: 1.3vw;
    margin-top: 0.65vw;
    padding-right: 1.3vw;
    height: 2.9vw;
    border: none;
    cursor: pointer;
    filter: drop-shadow(0px 0px 0.06vw #6295ea);
}

.container {
    padding: 2vw;
    display: grid;
    grid-template-columns: 1fr;
}

.log {
    display: flex;
    justify-content: center;
}

.log input[type="submit"] {
    border: solid 0.12vw white;
    border-radius: 0.65vw;
}

.h1Default {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 3.58vw;
    color: #fff;
    text-align: center;
    margin-bottom: 1.3vw;
}

div input[type="text"],
div input[type="password"] {
    border: 0.06vw solid #ffffff;
    margin-top: 0.25vw;
    height: 1.9vw;
    font-size: 0.9vw;
    padding-left: 0.5vw;
    justify-content: center;
    filter: drop-shadow(0px 0px 0.06vw #6295ea);
}

div input[type="text"] {
    margin-bottom: 0.9vw;
}

.center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.button {
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-family: "Source Sans Pro", sans-serif;
    padding: 7px;
    background-color: rgb(63, 63, 63);
    border-radius: 15px;
    box-shadow: 0px 0px 2px black;
}

.element {
    border: white 0.06vw solid;
    border-radius: 1.3vw;
    margin: 1vw;
    background-color: rgb(96, 145, 233, 60%);
    filter: drop-shadow(0px 0px 6px rgb(109, 109, 109));
}

.element h1 {
    color: white;
    padding-bottom: 1.3262599469496021vh;
}

.element h2 {
    color: rgb(199, 199, 174);
}
.element p {
    color: rgb(199, 199, 174);
}
.freeDay{
    color: white;
    height: max-content;
    background-color: rgba(134, 97, 209, 100%);
    padding: 0.5vw;
    font-size: 0.9765625vw;
    margin: 0.1vw;
    margin-bottom: 1.953125vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    border-radius: 1.3vw;
}
.freeDayDescription{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    align-items: center;
    display: flex;
}
.daysUntilEndOfYear {
    height: 6.822916666666667vw;
    width: 19vw;
    margin-right: 5vw;
    padding: 1.5vw;
}

.daysUntilEndOfYear h3 {
    font-size: 1.17vw;
}

.daysUntilEndOfYear p {
    color: white;
    font-size: 1.17vw;
}

.timeTable {
    font-size: 1vw;
    width: 24vw;
    height: 24vw;
    min-width: 15%;
    padding: 1.5vw;
    font-family: "Poppins", sans-serif;
    z-index: 1000;
    overflow-y: scroll;
    overflow-x: hidden;
}

.grades {
    font-size: 1vw;
    width: 24vw;
    height: 24vw;
    min-width: 15%;
    padding: 1.5vw;
    font-family: "Poppins", sans-serif;
    z-index: 1000;
    overflow-y: scroll;
    overflow-x: hidden;
}

.freeDaysTable {
    font-size: 1vw;
    width: 24vw;
    height: 24vw;
    min-width: 15%;
    padding: 1.5vw;
    font-family: "Poppins", sans-serif;
    z-index: 1000;
    overflow-y: scroll;
    overflow-x: hidden;
}

.attendanceTable {
    font-size: 1vw;
    width: 24vw;
    height: 24vw;
    min-width: 15%;
    padding: 1.5vw;
    font-family: "Poppins", sans-serif;
    z-index: 1000;
    overflow-y: scroll;
    overflow-x: hidden;
}

.studentComments {
    font-size: 1vw;
    min-width: 10vw;
    height: 24vw;
    padding: 1.5vw;
    font-family: "Source Sans Pro", sans-serif;
    z-index: 1000;
    width: 25%;
    min-width: 26.041666666666668vw;
    overflow-y: scroll;
    overflow-x: hidden;
}

.singleComment div {
    color: white;
}

.singleComment {
    color: white;
    height: max-content;
    background-color: rgba(134, 97, 209, 100%);
    padding: 0.5vw;
    font-size: 0.9765625vw;
    margin: 0.1vw;
    margin-bottom: 1.953125vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 1.3vw;
}

.commentDate {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    margin: 0;
}

.commentContent {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
}

.singleComment p {
    color: rgb(199, 199, 174);
}

.negatywna {
    filter: drop-shadow(0vw 0vw 0.5vw rgba(255, 77, 77, 1));
}

.pozytywna {
    filter: drop-shadow(0vw 0vw 0.5vw rgba(21, 225, 110, 100%));
}

h3 {
    color: white;
}

.subjectGradesTitle {
    margin-bottom: 0.33vw;
}

.subjectGradesGrades {
    display: flex;
    flex-wrap: wrap;
}

.singleGrade {
    margin-right: 1vw;
    margin-bottom: 0.5vw;
    width: 2.5vw;
    height: 2.5vw;
    min-width: 1.6vw;
    min-height: 1.6vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 0.26vw;
}

.hr {
    padding: none;
    margin-top: 0.65vw;
    margin-bottom: 0.65vw;
    height: 0.052vw;
    width: auto;
    border: none;
    background-color: rgb(255, 255, 255);
}

.grade1 {
    background-color: rgb(197, 26, 26);
}

.grade2 {
    background-color: rgb(197, 94, 26);
}

.grade3 {
    background-color: rgb(197, 194, 26);
}

.grade4 {
    background-color: rgb(117, 197, 26);
}

.grade5 {
    background-color: rgb(3, 172, 20);
}

.grade6 {
    background-color: rgb(26, 197, 160);
}

.singleGrade {
    position: relative;
}

.element::-webkit-scrollbar-track {
    border-radius: 0.6510416666666666vw;
    height: 80%;
    margin-top: 0.7vw;
    margin-bottom: 0.7vw;
}

.element::-webkit-scrollbar {
    width: 0.6510416666666666vw;
}

.element::-webkit-scrollbar-thumb {
    border-radius: 0.6510416666666666vw;
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.44, rgb(96, 145, 233, 100%)), color-stop(0.86, rgba(134, 97, 209, 100%)));
}

body::-webkit-scrollbar-track {
    border-radius: 1vw;
    background-color: transparent;
}

body::-webkit-scrollbar {
    width: 1vw;
    background-color: rgb(96, 145, 233, 60%);
}

body::-webkit-scrollbar-thumb {
    border-radius: 0.6510416666666666vw;
    border: 2px rgba(255, 255, 255, 70%) solid;
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.44, rgb(96, 145, 233, 100%)), color-stop(0.86, rgba(134, 97, 209, 100%)));
}

.gradeGreaterInfo {
    visibility: hidden;
    width: fit-content;
    height: fit-content;
    color: rgb(0, 0, 0);
    text-align: left;
    white-space: nowrap;
    filter: drop-shadow(0px 0px 6px rgb(109, 109, 109));
    border-radius: 0.19vw;
    padding: 0.65vw;
    position: absolute;
    z-index: 10000;
    left: 2.9vw;
    top: 0.52vw;
    opacity: 0%;
    transition-duration: 0.1s;
    background-color: #4885f7;
}

.gradeGreaterInfo>p {
    white-space: pre-wrap;
}

/* .singleGrade:hover .gradeGreaterInfo {
    visibility: visible;
    opacity: 100%;
} */

.messagesButtons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.messagesButtons>button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.messagesButtons>button>p {
    font-size: 1.5vw;
}

.inputek[type="checkbox"] {
    position: absolute;
    top: -9999px;
}

.labelaToJeKlasa {
    -webkit-appearance: push-button;
    -moz-appearance: button;
    display: inline-block;
    margin: 3.9vw 0 0.65vw 0;
    cursor: pointer;
    height: 6.51vw;
}

.logReg h2 {
    color: #4885f7;
    -webkit-text-stroke: 1px #d1e0ff;
    font-size: 1.3vw;
    font-weight: 550;
    text-align: center;
    text-decoration: underline;
}

.closestHomework {
    font-size: 1vw;
    width: 24vw;
    height: 24vw;
    min-width: 15%;
    padding: 1.5vw;
    font-family: "Poppins", sans-serif;
    z-index: 1000;
    overflow-y: scroll;
    overflow-x: hidden;
}

.closestExams {
    font-size: 1vw;
    width: 24vw;
    height: 24vw;
    min-width: 15%;
    padding: 1.5vw;
    font-family: "Poppins", sans-serif;
    z-index: 1000;
    overflow-y: scroll;
    overflow-x: hidden;
}


.singleExam {
    color: white;
    height: max-content;
    background-color: rgba(126, 108, 215, 255);
    padding: 0.5vw;
    font-size: 0.9765625vw;
    margin: 0.1vw;
    margin-bottom: 1.953125vw;
    border-radius: 1.3vw;
    filter: drop-shadow(0vw 0vw 0.5vw rgba(255, 0, 0, 1));
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    grid-template-rows: 1fr 1fr fit-content;
}

.examDescription {
    display: flex;
    align-items: center;
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-content: center;
}

.examDate {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    margin: 0;
}