.messagesButtons {
    margin: 1vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.messagesButtons>button {
    display: grid;
    grid-template-columns: 1fr 1.2fr 0.8fr;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px white solid;
    margin-bottom: 0.5vw;
    border-radius: 1vw;
}

.titel {
    grid-area: 1/1;
    padding-left: 0.5vw;
    text-align: left;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dacior {
    grid-area: 1/3;
    text-align: right;
    padding-right: 0.5vw;
}

.juzer {
    grid-area: 1/2;
    padding-left: 0.5vw;
    text-align: left;
    overflow: hidden;
    display: inline-flex;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.messagesButtons>button>p {
    font-size: 1.2vw;
    color: white;
    align-items: center;
}

.buttonAddMessage {
    font-size: 1.5vw;
    background: transparent;
    border: none;
    color: white;
}

.buttonAddMessage2 {
    grid-area: 1/2;
    width: 14vw;
    display: flex;
    align-items: center;
    justify-self: center;
    background-color: rgb(136, 105, 210);
    border: 1px white solid;
    border-radius: 1.3vw;
    padding: 1vw;
}

.buttonRefresh2 {
    grid-area: 1/1;
    width: 14vw;
    display: flex;
    align-items: center;
    justify-self: center;
    background-color: rgb(136, 105, 210);
    border: 1px white solid;
    border-radius: 1.3vw;
    padding: 1vw;
}

.buttonMessContent textarea {
    width: 58.6vw;
    height: fit-content;
    background-color: rgb(136, 105, 210);
    border: none;
    border-radius: 1.3vw;
    padding: 1vw;
    padding-left: 0;
    color: white;
    white-space: pre-wrap;
    font-size: 1vw;
}

textarea::placeholder {
    color: white;
    font-size: 1vw;
}

.buttonRefresh {
    font-size: 1.5vw;
    background: transparent;
    border: none;
    color: white;
}

.sendMessageButton {
    grid-area: 3/3;
}

.messageForm {
    background-color: rgb(136, 105, 210);
    border: 1px white solid;
    border-radius: 1.3vw;
    padding: 1vw;
    grid-area: 2/1 / span 3 / span 2;
    margin-top: 1vw;
    height: 64.9vh;
    overflow: scroll;
    overflow-x: hidden;
}

.messageContent {
    margin-left: 2vw;
    background-color: rgb(96, 145, 233, 95%);
    grid-area: 1/3 / span 3 / span 3;
}

.sendMessageBox {
    margin-left: 2vw;
    background-color: rgb(136, 105, 210);
    grid-area: 1/3 / span 3 / span 3;
    border: 1px white solid;
    border-radius: 1.3vw;
    padding: 1vw;
    height: 75vh;
}

.buttonTitelOfMess {
    width: 90%;
    display: flex;
    align-items: center;
    justify-self: center;
    background-color: rgb(136, 105, 210);
    border-radius: 1.3vw;
    padding: 1vw;
    padding-bottom: 0;
    padding-left: 0;
}

.buttonTitelOfMess ::placeholder {
    color: white;
    border: none;
}

.buttonTitelOfMess input {
    width: 100%;
    border: none;
}

.input-line {
    margin-top: 0;
}

textarea:focus {
    outline: none;
}

.TitelOfMess {
    font-size: 1.5vw;
    background: transparent;
    border: none;
    color: white;
    padding: 0;
}

.buttonToWho {
    grid-area: 3/1;
    width: 14vw;
    display: flex;
    align-items: center;
    justify-self: center;
    background-color: rgb(136, 105, 210);
    border-radius: 1.3vw;
    padding: 0;
}

.toWho {
    cursor: text;
    font-size: 1.5vw;
    background: transparent;
    border: none;
    color: white;
}

.popUp {
    background-color: rgb(136, 105, 210);
    border: 1px white solid;
    border-radius: 1.3vw;
    position: absolute;
    top: 10vw;
    left: 50vw;
    width: fit-content;
    height: fit-content;
    padding: 1vw;
}

.popUp div {
    color: white;
}

.sendMessageBox textarea {
    grid-area: 2/1/3 /4;
    resize: none;
    width: 96.5%;
    height: 68%;
}

.sendMessageButton {
    background-color: rgb(136, 105, 210);
    border: 1px white solid;
    border-radius: 1.3vw;
    padding: 1vw;
    font-size: 1.5vw;
    color: white;
    margin-top: 1vw;
}

.zatwierdz {
    display: flex;
    justify-self: left;
}

.logout {
    width: 1.953125vw;
    height: 3.9787798408488064%;
}

nav {
    border: white 0.65% solid;
    position: fixed;
    top: 6.389776357827476%;
    right: 39.761904761904763vw;
}

.HorizontalNavBar ol {
    list-style-type: none;
    display: grid;
    grid-template-rows: 2fr;
    grid-template-columns: auto auto auto auto;
    gap: 1.1904761904761905vw;
}

.HorizontalNavBar {
    display: inline-block;
}

.HorizontalNavBar li {
    background-color: rgb(136, 105, 210);
    width: fit-content;
    border-radius: 1.3vw;
    padding: 0.65vw;
    font-size: 1vw;
    color: white;
    text-align: center;
    align-self: center;
}

.inframe {
    border: white 0.06vw solid;
    height: 85vh;
    width: 100vw;
    border-radius: 1.3vw;
    margin: 1vw;
    background-color: rgb(136, 105, 210);
    filter: drop-shadow(0px 0px 0.390625vw rgb(109, 109, 109));
}

.logowanie {
    height: 43.63971354166667vw;
    margin: 0 auto;
    position: relative;
}

.button {
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0.4557291666666667vw;
    background-color: rgb(63, 63, 63);
    border-radius: 0.9765625vw;
    box-shadow: 0px 0px 2px black;
}

.element {
    border: white 0.06vw solid;
    border-radius: 1.3vw;
    margin: 1vw;
    background-color: rgb(96, 145, 233, 60%);
    filter: drop-shadow(0px 0px 2px rgb(109, 109, 109));
}

.element h1 {
    color: #f7d61f;
    padding-bottom: 1.3262599469496021vh;
}

.element h2 {
    color: white;
}

.element p {
    color: white;
}

.element text {
    color: white;
}

h5 {
    color: white;
    font-size: 2em;
}

.svg-inline--fa {
    width: 30px;
    height: 30px;
}

.ticzer {
    grid-area: 1/3;
}

h3 {
    color: white;
}


/* .singleGrade:hover .gradeGreaterInfo {
    visibility: visible;
    opacity: 100%;
} */

.inputek[type='checkbox'] {
    position: absolute;
    top: -9999px;
}

.labelaToJeKlasa {
    -webkit-appearance: push-button;
    -moz-appearance: button;
    display: inline-block;
    margin: 3.9vw 0 0.65vw 0;
    cursor: pointer;
    height: 6.51vw;
}

.Selected {
    /* Do testów*/
    background-color: red;
}