/* js/README.md */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline;
  }
  .uczenDebil{
    width: 12vw;
    background-color: white;
}
input[type="text" i] {
  align-self: center;
  display: flex;
  
  padding: 1px 2px;
  width: 1vw;
  height: 2vh;
}
table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: grey;
}